<% if @message %>
  <h4 class="user-message"><%= @message %></h4>
<% end %>

<% if current_user %>
  <div class="welcome">
    <h1> Welcome <%= current_user.first_name.capitalize %> </h1>
    <h3>Here are your recipes:</h3>
  </div>
<div class="recipe-front-page">
  <% current_user.recipes.each do |recipe| %>
    <div class="each-recipe">
      <h3><a href="/recipe/display/<%= recipe.id %>"><%= recipe.name.capitalize %></a></h3>
      <% if recipe.img_url %>
        <img src="<%= recipe.img_url %>" alt="<%= recipe.name %>">
      <% end %>
        <% recipe.ingredients.each do |ingredient| %>
          <h5 class="ingredient"><%= ingredient.name %></h5>
        <% end %>
      <% if recipe.instructions %>
        <p><%= recipe.instructions %></p>
      <% end %>
      <a href="<%= recipe.recipe_url || recipe.id %>">Click here to view recipe</a>
    </div>
  <% end %>
  </div>
</div>

  <div>
  <form action="/users/<%= current_user.id %>/list/delete" method="post" class="front-page-button">
    <input type="submit" value="Clear your shopping list">
  </form>

  <form action="/users/<%= current_user.id %>/list/send" method="post" class="front-page-button">
    <input type="submit" value="Send Shopping List to Phone!">
  </form>
  <div>

<% else %>

<h1>Welcome to the Home Page</h1>

<% end %>
