<div class="jumbrotron">
  <div class="container">

    <% if current_user %>
    <div class="user-front-page">
      <div class="welcome">
        <h1> Welcome <%= current_user.first_name.capitalize %> </h1>
        <% if @message %>
          <div class="user-message">
            <h4><%= @message %></h4>
          </div>
        <% end %>

        <% if current_user.recipes.empty? %>
          <h3><a href="/recipe/search">Search </a> for recipes, or <a href="/recipe/new">create </a>your own</h3>
        <% else %>
        <h3>Here are your recipes:</h3>
      </div>
      <div class="recipe-front-page">
        <% current_user.recipes.each do |recipe| %>
        <div class="each-recipe">
          <h3><a href="/recipe/display/<%= recipe.id %>"><%= recipe.name.capitalize %></h3>
          <% if recipe.img_url %>
            <img src="<%= recipe.img_url %>" alt="<%= recipe.name %>">
          <% end %>
        </a>
          <% recipe.ingredients.each do |ingredient| %>
            <h5 class="ingredient"><%= ingredient.name %></h5>
          <% end %>
          <% if recipe.instructions %>
            <p><%= recipe.instructions %></p>
          <% end %>
          <a href="/recipe/display/<%= recipe.id %>">Click here to view recipe</a><br>
          <form action="/recipe/<%= recipe.id %>/delete" method="post">
          <button type="submit" class="btn-sm btn-danger">Remove from list</button>
         </form>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <form action="/users/<%= current_user.id %>/list/delete" method="post" class="front-page-button">
        <button type="submit" class="btn-lg btn-clear-list btn-danger">Clear Shopping List</button>
      </form>
    </div>
    <div>
      <form action="/users/<%= current_user.id %>/list/send" method="post" class="front-page-button">
        <button type="submit" class="btn-lg btn-text-list btn-success">Send Shopping List to Phone!</button>
      </form>
    </div>

    <% else %>

    <img class="main-img" src="imgs/sous-chef-template3.png"></img>



    <% end %>

  </div>
</div>
