<div class="user-front-page">
<h1> <%= recipe.name %></h1>
<% if recipe.img_url %>
<img src="<%= recipe.img_url %>" alt="<%= recipe.name %>">
<% end %>
<h3>Ingredients:</h3>
<% recipe.ingredients.each do |ingredient| %>
  <h4><%= ingredient.name %></h4>
<% end %>

<% if recipe.instructions %>

<h4>Instructions: <%= recipe.instructions %></h4>
<% else %>
<h4>Instructions: <a href="<%= recipe.recipe_url %>">Click here for recipe</a></h4>
<% end %>

<a href="/"><button class="btn-lg btn-success">Back</button></a>
<div>